body {
    background: linear-gradient(to right, #2c3e50, #3498db);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 50px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.logo img {
    width: 100%;
    border-radius: 50%;
    
}
.logo p{
    margin-left: 10px;
    
}

h2{
    text-align: left;
    color: #fff;
    background: linear-gradient(to right, #2c3e50, #3498db);
}
.side-head{
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: #fff;
    
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li {
    display: inline;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.navbar nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

main {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 100px;
}
main p{
    text-align: left;
    
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (min-width: 1024px) and (min-height: 768px) {
    body {
        font-size: 18px;
    }

    main {
        max-width: 900px;
        padding: 30px;
    }

    .navbar nav ul li a {
        font-size: 16px;
        padding: 10px 15px;
    }
}


@media (max-width: 1024px) and (min-width: 768px) and (min-height: 600px) and (max-height: 768px) {
    body {
        font-size: 16px;
    }

    main {
        max-width: 800px;
        padding: 20px;
    }

    .navbar nav ul li a {
        font-size: 14px;
        padding: 8px 12px;
    }
}


@media (max-width: 768px) and (min-width: 480px) and (min-height: 400px) and (max-height: 600px) {
    body {
        font-size: 14px;
    }

    main {
        max-width: 90%;
        padding: 15px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar nav ul li a {
        font-size: 12px;
        padding: 6px 10px;
    }
}


@media (max-width: 480px) and (max-height: 400px) {
    body {
        font-size: 12px;
    }

    main {
        max-width: 100%;
        padding: 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .navbar nav ul li a {
        font-size: 10px;
        padding: 4px 8px;
    }

    footer {
        font-size: 10px;
    }
}